.MainContainer {
  width: 100%;
}
.homePageFirstContent {
  padding: 10% 0%;
  width: 100%;
  background-color: #001a4d;
  display: flex;
  background-image: url("../../images/footerBackgroungImage.png");
  background-position: 95% 70%;
  background-size: 40%;
  background-repeat: no-repeat;
}
.homePageFirstContentTextFeild {
  width: 50%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.homePageFirstContentTextFeildHeader {
  font-size: 4rem;
  line-height: 1.2;
  margin-top: 10rem;
  font-weight: 500;
  color: #fff;
  font-family: "Lora";
}
.homePageFirstContentText {
  font-size: 1.7rem;
  line-height: 1.2;
}
.homePageFirstContentButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 700;
  color: #001a4d !important;
  font-family: "Lora";
  border: none;
  transition: all 0.6s ease-out;
  display: block;
  background: transparent;
}
.homePageFirstContentButton:hover,
.homePageFirstContentButton:active,
.homePageFirstContentButton:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}
a.buttonLink {
  text-decoration: none;
}
.homePageBannerButton {
  background: linear-gradient(to right, #f86739 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border-radius: 50px;
}
.homePageBannerButton:hover {
  background-position: left bottom;
  text-decoration: none;
}

.homePageFirstContentsubFeild {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 4rem;
  padding: 2rem;
}
.homePageFirstContentsubFeildText {
  color: rgb(149, 148, 148);
  font-size: 1.2rem;
  display: flex;
}
.homePageFirstContentsubFeildImages {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.homePageFirstContentsubContainer {
  width: 100%;
}
.homePageFirstContentsubRatingContent {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
  margin: 0rem 3rem;
  align-items: center;
}
.homePageFirstContentsubRatingContentText {
  color: rgb(149, 148, 148);
  font-size: 1.2rem;
  margin: 0rem;
}
.bannerImageContentTextOne {
  color: #f86739;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  top: 12rem;
  left: 55%;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
  font-family: "Lora";
}
.bannerImageContentTextOne:hover,
.bannerImageContentTextOne:active,
.bannerImageContentTextOne:focus {
  transform: scale(1.2);
}
.bannerImageContentTextTwo {
  color: #f86739;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  top: 87%;
  left: 56%;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
  font-family: "Lora";
}
.bannerImageContentTextTwo:hover,
.bannerImageContentTextTwo:active,
.bannerImageContentTextTwo:focus {
  transform: scale(1.2);
}
.bannerImageContentTextThree {
  color: #f86739;
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  right: 3rem;
  top: 12.5rem;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
  font-family: "Lora";
}
.bannerImageContentTextThree:hover,
.bannerImageContentTextThree:active,
.bannerImageContentTextThree:focus {
  transform: scale(1.2);
}
.bannerImageContentTextFour {
  color: #f86739;
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  right: 1rem;
  top: 87%;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
  font-family: "Lora";
}
.bannerImageContentTextFour:hover,
.bannerImageContentTextFour:active,
.bannerImageContentTextFour:focus {
  transform: scale(1.2);
}
.bannerImageContent {
  width: 50%;
  display: flex;
  justify-content: center;
}
.homePageFirstContentDesktopImage {
  width: 50%;
  margin-top: 6rem;
  position: relative;
}
/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  transform: rotate(138deg);
  height: 65px;
  position: absolute;
  z-index: 25;
  top: 36%;
  left: 64%;
}
#more-arrows:hover polygon {
  fill: #f86739;
  transition: all 1s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}
polygon {
  fill: #fff;
  transition: all 1s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}
.arrowTwo {
  width: 75px;
  transform: rotate(43deg);
  height: 65px;
  position: absolute;
  z-index: 25;
  top: 76%;
  left: 64%;
}

.arrowTwo:hover polygon {
  fill: #f86739;
  transition: all 1s ease-out;
}
.arrowTwo:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
.arrowTwo:hover polygon.arrow-top.Two {
  transform: translateY(18px);
}
polygon {
  fill: #fff;
  transition: all 1s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top.Two {
  opacity: 0.5;
}
.arrowThree {
  width: 75px;
  transform: rotate(322deg);
  height: 65px;
  position: absolute;
  z-index: 25;
  top: 77%;
  right: 14rem;
}

.arrowThree:hover polygon {
  fill: #f86739;
  transition: all 1s ease-out;
}
.arrowThree:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
.arrowThree:hover polygon.arrow-top.Three {
  transform: translateY(18px);
}
polygon {
  fill: #fff;
  transition: all 1s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top.Three {
  opacity: 0.5;
}
.arrowFour {
  width: 75px;
  transform: rotate(222deg);
  height: 65px;
  position: absolute;
  z-index: 25;
  top: 37%;
  right: 14rem;
}

.arrowFour:hover polygon {
  fill: #f86739;
  transition: all 1s ease-out;
}
.arrowFour:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
.arrowFour:hover polygon.arrow-top.Four {
  transform: translateY(18px);
}
polygon {
  fill: #fff;
  transition: all 1s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top.Four {
  opacity: 0.5;
}
.aboutUsOurModuleContent {
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.aboutUsOurModuleCart {
  border: none;
  width: 15%;
  padding: 1rem;
  text-align: center;
  background-image: url("../../images/happyCloseModule.jpg");
  background-repeat: no-repeat;
  background-size: 300px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 1.5s;
  display: flex;
  align-items: end;
}
.aboutUsOurModuleCart:hover,
.aboutUsOurModuleCart:focus,
.aboutUsOurModuleCart:active {
  transform: scale(1.2);
  text-decoration: none;
}
.aboutUsOurModuleCartText {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  padding-top: 1rem;
  font-family: "Lora";
}
.aboutUsOurModuleCartTextImage {
  width: 50%;
}
