.MainContainer {
  width: 100%;
}
.homePageFirstContent {
  padding: 10% 0%;
  width: 100%;
  background-color: #001a4d;
  display: flex;
  background-image: url("../../images/footerBackgroungImage.png");
  background-position: 95% 70%;
  background-size: 40%;
  background-repeat: no-repeat;
}
.homePageFirstContentTextFeild {
  width: 50%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.homePageFirstContentTextFeildHeader {
  font-size: 4rem;
  line-height: 1.2;
  margin-top: 10rem;
  font-weight: 500;
  color: #fff;
  font-family: "Lora";
}
.homePageFirstContentText {
  font-size: 1.7rem;
  line-height: 1.2;
}
.homePageFirstContentButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 700;
  color: #001a4d !important;
  font-family: "Lora";
  border: none;
  transition: all 0.6s ease-out;
  display: block;
  background: transparent;
}
.homePageFirstContentButton:hover,
.homePageFirstContentButton:active,
.homePageFirstContentButton:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}
a.buttonLink {
  text-decoration: none;
}
.homePageBannerButton {
  background: linear-gradient(to right, #f86739 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border-radius: 50px;
}
.homePageBannerButton:hover {
  background-position: left bottom;
  text-decoration: none;
}

.homePageFirstContentsubFeild {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 4rem;
  padding: 2rem;
}
.homePageFirstContentsubFeildText {
  color: rgb(149, 148, 148);
  font-size: 1.2rem;
  display: flex;
}
.homePageFirstContentsubFeildImages {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.homePageFirstContentsubContainer {
  width: 100%;
}
.homePageFirstContentsubRatingContent {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
  margin: 0rem 3rem;
  align-items: center;
}
.homePageFirstContentsubRatingContentText {
  color: rgb(149, 148, 148);
  font-size: 1.2rem;
  margin: 0rem;
}
.bannerImageContentTextOne {
  color: #f86739;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  top: 12rem;
  left: 55%;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
  font-family: "Lora";
}
.bannerImageContentTextOne:hover,
.bannerImageContentTextOne:active,
.bannerImageContentTextOne:focus {
  transform: scale(1.2);
}
.bannerImageContentTextTwo {
  color: #f86739;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  top: 87%;
  left: 56%;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
  font-family: "Lora";
}
.bannerImageContentTextTwo:hover,
.bannerImageContentTextTwo:active,
.bannerImageContentTextTwo:focus {
  transform: scale(1.2);
}
.bannerImageContentTextThree {
  color: #f86739;
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  right: 3rem;
  top: 12.5rem;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
  font-family: "Lora";
}
.bannerImageContentTextThree:hover,
.bannerImageContentTextThree:active,
.bannerImageContentTextThree:focus {
  transform: scale(1.2);
}
.bannerImageContentTextFour {
  color: #f86739;
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  right: 1.5rem;
  top: 87%;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
  font-family: "Lora";
}
.bannerImageContentTextFour:hover,
.bannerImageContentTextFour:active,
.bannerImageContentTextFour:focus {
  transform: scale(1.2);
}
.bannerImageContent {
  width: 50%;
  display: flex;
  justify-content: center;
}
.homePageFirstContentDesktopImage {
  width: 63%;
  margin-top: 6rem;
  position: relative;
}
/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  transform: rotate(138deg);
  height: 65px;
  position: absolute;
  z-index: 25;
  top: 36%;
  left: 64%;
}
#more-arrows:hover polygon {
  fill: #f86739;
  transition: all 1s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}
polygon {
  fill: #fff;
  transition: all 1s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}
.arrowTwo {
  width: 75px;
  transform: rotate(43deg);
  height: 65px;
  position: absolute;
  z-index: 25;
  top: 76%;
  left: 64%;
}

.arrowTwo:hover polygon {
  fill: #f86739;
  transition: all 1s ease-out;
}
.arrowTwo:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
.arrowTwo:hover polygon.arrow-top.Two {
  transform: translateY(18px);
}
polygon {
  fill: #fff;
  transition: all 1s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top.Two {
  opacity: 0.5;
}
.arrowThree {
  width: 75px;
  transform: rotate(322deg);
  height: 65px;
  position: absolute;
  z-index: 25;
  top: 77%;
  right: 14rem;
}

.arrowThree:hover polygon {
  fill: #f86739;
  transition: all 1s ease-out;
}
.arrowThree:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
.arrowThree:hover polygon.arrow-top.Three {
  transform: translateY(18px);
}
polygon {
  fill: #fff;
  transition: all 1s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top.Three {
  opacity: 0.5;
}
.arrowFour {
  width: 75px;
  transform: rotate(222deg);
  height: 65px;
  position: absolute;
  z-index: 25;
  top: 37%;
  right: 14rem;
}

.arrowFour:hover polygon {
  fill: #f86739;
  transition: all 1s ease-out;
}
.arrowFour:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
.arrowFour:hover polygon.arrow-top.Four {
  transform: translateY(18px);
}
polygon {
  fill: #fff;
  transition: all 1s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top.Four {
  opacity: 0.5;
}
.aboutUsOurModuleContent {
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.aboutUsOurModuleCart {
  border: none;
  width: 15%;
  padding: 1rem;
  text-align: center;
  background-image: url("../../images/happyCloseModule.jpg");
  background-repeat: no-repeat;
  background-size: 300px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 1.5s;
  display: flex;
  align-items: end;
}
.aboutUsOurModuleCart:hover,
.aboutUsOurModuleCart:focus,
.aboutUsOurModuleCart:active {
  transform: scale(1.2);
  text-decoration: none;
}
.aboutUsOurModuleCartText {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  padding-top: 1rem;
  font-family: "Lora";
}
.aboutUsOurModuleCartTextImage {
  width: 50%;
}
@media only screen and (min-width: 280px) and (max-width: 426px) {
  .homePageFirstContent {
    padding: 10% 0%;
    width: 100%;
    display: flex;
    background-image: url("../../images/footerBackgroungImage.png");
    background-position: 100% 16%;
    background-size: 40%;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
  }
  .homePageFirstContentTextFeild {
    width: 100%;
  }
  .homePageFirstContentTextFeildHeader {
    font-size: 2rem;
  }
  .buttonLink {
    text-decoration: none;
    margin-top: -2.5rem !important;
  }
  .homePageFirstContentDesktopImage {
    width: 100%;
    margin: 3rem 0rem;
  }
  .bannerImageContentTextOne {
    font-size: 12px !important;
    top: 85% !important;
    left: 8% !important;
    padding: 0.5rem 1rem !important;
  }
  #more-arrows {
    display: none !important;
  }
  .arrowTwo {
    display: none;
  }
  .arrowThree {
    display: none;
  }
  .arrowFour {
    display: none;
  }
  .bannerImageContentTextTwo {
    font-size: 12px !important;
    top: 118% !important;
    left: 8% !important;
    padding: 0.5rem 1.5rem;
  }
  .bannerImageContentTextFour {
    font-size: 12px;
    right: 1rem;
    top: 118%;
    padding: 0.5rem 1rem;
  }
  .bannerImageContentTextThree {
    font-size: 12px;
    right: 1rem;
    top: 85%;
    padding: 0.5rem 1rem;
  }
  .aboutUsOurModuleContent {
    padding: 0rem !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
  .aboutUsOurModuleCart {
    border: none;
    width: 70% !important;
    margin: 1rem 0rem;
    justify-content: center !important;
  }
}
@media only screen and (min-width: 427px) and (max-width: 600px) {
  .homePageFirstContent {
    padding: 10% 0%;
    width: 100%;
    display: flex;
    background-image: url("../../images/footerBackgroungImage.png");
    background-position: 100% 16%;
    background-size: 40%;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
  }
  .homePageFirstContentTextFeild {
    width: 100%;
  }
  .homePageFirstContentTextFeildHeader {
    font-size: 2rem;
  }
  .buttonLink {
    text-decoration: none;
    margin-top: -2.5rem !important;
  }
  .homePageFirstContentDesktopImage {
    width: 100%;
    margin: 3rem 0rem;
  }
  .bannerImageContentTextOne {
    font-size: 12px !important;
    top: 85% !important;
    left: 10% !important;
    padding: 0.5rem 1rem !important;
  }
  #more-arrows {
    display: none !important;
  }
  .arrowTwo {
    display: none;
  }
  .arrowThree {
    display: none;
  }
  .arrowFour {
    display: none;
  }
  .bannerImageContentTextTwo {
    font-size: 12px !important;
    top: 125% !important;
    left: 10% !important;
    padding: 0.5rem 1.5rem;
  }
  .bannerImageContentTextFour {
    font-size: 12px;
    right: 1.5rem;
    top: 125%;
    padding: 0.5rem 1rem;
  }
  .bannerImageContentTextThree {
    font-size: 12px;
    right: 1.5rem;
    top: 85%;
    padding: 0.5rem 1rem;
  }
  .aboutUsOurModuleContent {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .aboutUsOurModuleCart {
    border: none;
    width: 47% !important;
    margin-top: 1rem;
    padding: 1rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .homePageFirstContentTextFeildHeader {
    font-size: 2rem;
  }
  .homePageFirstContentDesktopImage {
    width: 100% !important;
    margin-top: 6rem !important;
  }
  #more-arrows {
    display: none !important;
  }
  .arrowTwo {
    display: none;
  }
  .arrowThree {
    display: none;
  }
  .arrowFour {
    display: none;
  }
  .bannerImageContentTextOne {
    font-size: 13px;
    top: 10rem;
    left: 40%;
  }
  .bannerImageContentTextThree {
    font-size: 12px;
    right: 1rem;
    top: 10rem;
  }
  .bannerImageContentTextTwo {
    font-size: 13px;
    font-weight: 500;
    top: 95%;
    left: 41%;
  }
  .bannerImageContentTextFour {
    font-size: 13px;
    right: 1rem;
    top: 95%;
  }
  .homePageFirstContentTextFeild {
    width: 43% !important;
    padding: 1rem !important;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1000px) {
  .homePageFirstContentTextFeildHeader {
    font-size: 3rem;
  }
  .homePageFirstContentDesktopImage {
    width: 80% !important;
    margin-top: 9rem;
  }
  .homePageFirstContentTextFeild {
    width: 45% !important;
    padding: 1rem !important;
  }
  .bannerImageContentTextOne {
    font-size: 1.3rem;
    top: 10rem;
    left: 43%;
    padding: 0.5rem 1.5rem;
  }
  .bannerImageContentTextThree {
    font-size: 1.3rem;
    right: 1rem;
    top: 10rem;
  }
  #more-arrows {
    transform: rotate(136deg);
    top: 42%;
    left: 50%;
  }
  .arrowFour {
    transform: rotate(222deg);
    top: 42%;
    right: 5rem;
  }
  .bannerImageContentTextTwo {
    font-size: 1.3rem;
    top: 102%;
    left: 37%;
  }
  .bannerImageContentTextFour {
    font-size: 1.3rem;
    right: 1rem;
    top: 102%;
  }
  .arrowThree {
    top: 87%;
    right: 5rem;
    transform: rotate(313deg);
  }
  .arrowTwo {
    top: 87%;
    left: 49%;
  }
  .aboutUsOurModuleContent {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .aboutUsOurModuleCart {
    width: 22%;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1076px) {
  .homePageFirstContentDesktopImage {
    width: 100%;
    margin-top: 6rem;
    position: relative;
  }
  .bannerImageContentTextOne {
    font-size: 1.3rem;
    font-weight: 500;
    top: 10rem;
    left: 50%;
  }
  #more-arrows {
    transform: rotate(143deg) !important;
    top: 42% !important;
    left: 58% !important;
  }
  .bannerImageContentTextThree {
    font-size: 1.3rem;
    right: 2rem;
    top: 10rem;
  }
  .arrowFour {
    transform: rotate(217deg);
    top: 42%;
    right: 5rem;
  }
  .bannerImageContentTextTwo {
    font-size: 1.3rem;
    top: 135%;
    left: 50%;
  }
  .bannerImageContentTextFour {
    font-size: 1.3rem;
    right: 1.5rem;
    top: 135%;
  }
  .arrowThree {
    transform: rotate(318deg);
    top: 117%;
    right: 5rem;
  }
  .arrowTwo {
    transform: rotate(43deg);
    top: 117%;
    left: 57%;
  }
  .aboutUsOurModuleContent {
    padding: 2rem;
  }
  .aboutUsOurModuleCart {
    width: 22%;
  }
}
@media only screen and (min-width: 1440px) {
  .homePageFirstContentDesktopImage {
    width: 63%;
    margin-top: 6rem;
    position: relative;
  }
  .bannerImageContentTextOne {
    font-size: 1.5rem;
    font-weight: 500;
    top: 12rem;
    left: 56%;
  }
  #more-arrows {
    transform: rotate(143deg) !important;
    top: 36% !important;
    left: 63% !important;
  }
  .bannerImageContentTextThree {
    font-size: 1.5rem;
    right: 5rem;
    top: 12rem;
  }
  .arrowFour {
    transform: rotate(221deg);
    top: 37%;
    right: 13rem;
  }
  .bannerImageContentTextTwo {
    font-size: 1.5rem;
    top: 100%;
    left: 55%;
  }
  .bannerImageContentTextFour {
    font-size: 1.5rem;
    right: 1.5rem;
    top: 100%;
  }
  .arrowThree {
    transform: rotate(318deg);
    top: 85%;
    right: 12rem;
  }
  .arrowTwo {
    transform: rotate(40deg);
    top: 85%;
    left: 63%;
  }
  .aboutUsOurModuleContent {
    padding: 4rem;
  }
  .aboutUsOurModuleCart {
    width: 20%;
    justify-content: center;
  }
}
