.MainContainer {
  width: 100%;
}
.homePageFirstContent {
  padding: 10% 0%;
  width: 100%;
  background-color: #001a4d;
  display: flex;
  background-image: url("../../images/footerBackgroungImage.png");
  background-position: 95% 70%;
    background-size: 40%;
    background-repeat: no-repeat;
}
.homePageFirstContentTextFeild {
  width: 50%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.homePageFirstContentTextFeildHeader {
  font-size: 4rem;
  line-height: 1.2;
  margin-top: 10rem;
  font-weight: 500;
  color: #fff;
}
.homePageFirstContentText {
  font-size: 1.7rem;
  line-height: 1.2;
}
.homePageFirstContentButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 700;
  color: #fff;
  background-color: #f86739;
  border-radius: 50px;
  border: none;
}
.homePageFirstContentButton:hover,
.homePageFirstContentButton:active,
.homePageFirstContentButton:focus {
  background-color: #fff;
  color: #f86739;
  outline: none;
}

.homePageFirstContentsubFeild {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 4rem;
  padding: 2rem;
}
.homePageFirstContentsubFeildText {
  color: rgb(149, 148, 148);
  font-size: 1.2rem;
  display: flex;
}
.homePageFirstContentsubFeildImages {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.homePageFirstContentsubContainer {
  width: 100%;
}
.homePageFirstContentsubRatingContent {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
  margin: 0rem 3rem;
  align-items: center;
}
.homePageFirstContentsubRatingContentText {
  color: rgb(149, 148, 148);
  font-size: 1.2rem;
  margin: 0rem;
}
.bannerImageContentTextOne {
  color: #f86739;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  top: 12rem;
  left: 55%;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
}
.bannerImageContentTextOne:hover,
.bannerImageContentTextOne:active,
.bannerImageContentTextOne:focus{
  transform: scale(1.2);
}
.bannerImageContentTextTwo {
  color: #f86739;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  top: 90%;
  left: 55%;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
}
.bannerImageContentTextTwo:hover,
.bannerImageContentTextTwo:active,
.bannerImageContentTextTwo:focus{
  transform: scale(1.2);
}
.bannerImageContentTextThree {
  color: #f86739;
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  right: 3rem;
  top: 12.5rem;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
}
.bannerImageContentTextThree:hover,
.bannerImageContentTextThree:active,
.bannerImageContentTextThree:focus{
  transform: scale(1.2);
}
.bannerImageContentTextFour {
  color: #f86739;
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  right: 3rem;
  top: 90%;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: transform 1.5s;
}
.bannerImageContentTextFour:hover,
.bannerImageContentTextFour:active,
.bannerImageContentTextFour:focus{
  transform: scale(1.2);
}
.bannerImageContent {
  width: 50%;
  display: flex;
  justify-content: center;
}
.homePageFirstContentDesktopImage {
  width: 50%;
  margin-top: 6rem;
  position: relative;
}
.SolutionsResults {
  padding: 6rem;
  background-color: #eeebe4;
  display: flex;
  justify-content: space-evenly;
}
.happyCloseProblumSolutionsCartContainer {
  display: flex;
  justify-content: space-between;
}
.happyCloseProblumSolutionsCart {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 4px solid #f86739;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
}
.happyCloseProblumSolutionsCart:focus,
.happyCloseProblumSolutionsCart:hover,
.happyCloseProblumSolutionsCart:active {
  margin-top: -20px;
  transition: all 0.5s ease;
  box-shadow: 0px 25px 20px 0 rgb(0 0 0 / 15%);
}
.happyCloseProblumSolutionsCartText {
  color: #280454;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 4rem;
}
.happyCloseProblumSolutionsCartTwoText {
  background-color: #fff;
  color: #000000;
  padding: 2rem 3.8rem;
  font-size: 1rem;
  width: 90%;
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.happyCloseProblumSolutionsCartImageOne {
  width: 50%;
  margin-left: 4rem;
  transition: transform 1.5s;
}
.happyCloseProblumSolutionsCartImageOne:hover {
  transform: scale(1.2);
}
.happyCloseProblumSolutionsCartImageTwo {
  position: absolute;
  width: 8%;
  margin-left: -3.7rem;
  margin-top: -0.5%;
}
#arrowAnim {
  width: 40vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  position: absolute;
  top: 55%;
  left: 44%;
  z-index: 20;
}
.line{
  width: 8%;
  height: 0.2vh;
    text-align: left;
    margin-left: 0;
    background-color: #f86739;
    transform: rotate(52deg);
    z-index: 25;
    position: absolute;
    left: 60%;
    top: 39%; 
}
i.bi.bi-chevron-up.lineArrow {
  color: #f86739;
  top: 32%;
  font-size: 1.5rem;
  position: absolute;
  transform: rotate(-31deg);
  z-index: 30;
  left: 60.7%;
}
.lineTwo{
  width: 8%;
    height: 0.2vh;
    text-align: left;
    margin-left: 0;
    background-color: #f86739;
    transform: rotate(135deg);
    z-index: 25;
    position: absolute;
    left: 60%;
    top: 78%;
}
i.bi.bi-chevron-up.lineArrowTwo{
  color: #f86739;
    top: 84%;
    font-size: 1.5rem;
    position: absolute;
    transform: rotate(-137deg);
    z-index: 30;
    left: 60.3%;
}
.lineThree{
  width: 8%;
    height: 0.2vh;
    text-align: left;
    margin-left: 0;
    background-color: #f86739;
    transform: rotate(132deg);
    z-index: 25;
    position: absolute;
    right: 10rem;
    top: 39%;
}
i.bi.bi-chevron-up.lineArrowThree {
  color: #f86739;
  top: 32.5%;
  font-size: 1.5rem;
  position: absolute;
  transform: rotate(39deg);
  z-index: 30;
  right: 10.55rem;
}
.lineFour{
  width: 8%;
  height: 0.2vh;
  text-align: left;
  margin-left: 0;
  background-color: #f86739;
  transform: rotate(228deg);
  z-index: 25;
  position: absolute;
  right: 11rem;
  top: 78%;
}
i.bi.bi-chevron-up.lineArrowFour {
  color: #f86739;
  top: 84.5%;
  font-size: 1.5rem;
  position: absolute;
  transform: rotate(138deg);
  z-index: 30;
  right: 11.48rem;
}

.arrow {
  width: 1vw;
  height: 1vh;
  border: 1vw solid;
  border-color: #f86739 transparent transparent #f86739;
  transform: rotate(-45deg);
}
.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(5vw);
  }
  20% {
    opacity: 1;
    transform: translateX(3vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-3vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-5vw);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(5vw);
  }
  20% {
    opacity: 1;
    transform: translateX(3vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-3vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-5vw);
  }
}
