.aboutUsMainContainer {
  padding: 5% 0%;
  background-position: 100% 100%;
  background-size: 50%;
  background-color: #fefbf3;
  display: flex;
  justify-content: space-evenly;
}
.aboutUsBannerCantainer {
  width: 40%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  border: 2px solid #1f0045;
  border-radius: 2rem;
  transition: transform 1.5s;
}
.aboutUsBannerCantainer:hover,
.aboutUsBannerCantainer:active,
.aboutUsBannerCantainer:focus {
  transform: scale(0.9);
}
.aboutUsBannerCantainerHeading {
  font-size: 2rem;
  color: #1f0045;
}
.aboutUsBannerCantainerText {
  width: 75%;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: rgba(31, 0, 69, 0.85);
}
.aboutUsPageSocialMediaContent {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
i.bi.bi-envelope-at-fill.Message {
  font-size: 2rem;
}

i.bi.bi-linkedin.LinkedIn {
  font-size: 2rem;
}
.newsPapperClippes {
  padding-top: 15% !important;
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.newsPapperClippesCart {
  background-image: url("../../images/cardsBackgroundNew.png");
  background-repeat: no-repeat;
  width: 23%;
  height: 56.5vh;
  background-size: 659px;
  background-position-y: -47px;
  padding: 2rem;
  border: 1px solid #1f0045;
  border-radius: 10px;
  cursor: pointer;
}
.newsPapperClippesCartText {
  font-size: 1.3rem;
  color: #fff;
}
#overlay {
  position: absolute;
  bottom: 0;
  top: 14.8rem;
  left: 88px;
  right: 0;
  background-color: rgba(55, 55, 55, 0.8);
  overflow: hidden;
  width: 21%;
  text-align: center;
  height: 56.78%;
  padding-top: 4rem;
  border-radius: 15px;
}
#overlay:hover,
#overlay:focus,
#overlay:active {
  background-color: rgba(55, 55, 55, 0);
}
.overlay.One {
  position: absolute;
  bottom: 0;
  top: 14.8rem;
  left: 28.2%;
  right: 0;
  background-color: rgba(55, 55, 55, 0.8);
  overflow: hidden;
  width: 21.1%;
  text-align: center;
  height: 56.78%;
  padding-top: 4rem;
  border-radius: 15px;
}
.overlay.One:hover,
.overlay.One:focus,
.overlay.One:active {
  background-color: rgba(55, 55, 55, 0);
}
.overlay.Two {
  position: absolute;
  bottom: 0;
  top: 14.8rem;
  left: 50.79%;
  right: 0;
  background-color: rgba(55, 55, 55, 0.8);
  overflow: hidden;
  width: 21.1%;
  text-align: center;
  height: 56.78%;
  padding-top: 4rem;
  border-radius: 15px;
}
.overlay.Two:hover,
.overlay.Two:focus,
.overlay.Two:active {
  background-color: rgba(55, 55, 55, 0);
}
.overlay.Three {
  position: absolute;
  bottom: 0;
  top: 14.8rem;
  left: 73.3%;
  right: 0;
  background-color: rgba(55, 55, 55, 0.8);
  overflow: hidden;
  width: 21.1%;
  text-align: center;
  height: 56.78%;
  padding-top: 4rem;
  border-radius: 15px;
}
.overlay.Three:hover,
.overlay.Three:focus,
.overlay.Three:active {
  background-color: rgba(55, 55, 55, 0);
}
.aboutHappyCloseHistory {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  padding: 4rem;
}
.css-w8dmq8 {
  width: 80% !important;
}
.MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
  justify-content: space-between !important;
  background-color: rgb(226, 225, 223);
  border-radius: 50px;
  height: 8vh;
  text-align: center;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 1rem !important;
  font-weight: 500 !important;
  padding-top: 17px !important;
  color: #1f0045 !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fff !important;
  background-color: #f86739;
  width: 15%;
  font-size: 1rem !important;
  font-weight: 500 !important;
  padding-top: 17px !important;
  border-radius: 50px;
  border: none !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected:active,
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected:focus,
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected:hover {
  outline: none;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: transparent !important;
}
.css-1gsv261 {
  border: none !important;
}
.css-13xfq8m-MuiTabPanel-root {
  text-align: center !important;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 3rem !important;
  box-shadow: 2px 2px 10px 2px #d3d1d1;
  border-radius: 2rem;
}
.aboutUsTabPanelContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.aboutUsTabPanelContentImage {
  width: 40%;
}
.aboutUsTabPanelContentImageHappyClose {
  width: 40%;
  border-radius: 2rem;
}
.aboutUsTabPanelContentText {
  width: 50%;
}
.aboutUsLeftandRightContent {
  margin: 2rem 0rem;
  padding: 4rem;
}
.aboutUsLeftandRightCart {
  display: flex;
}
.textFeildContent {
  width: 35%;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  animation-name: example;
  animation-duration: 10s;
  background-color: #ffc107;
  padding: 2rem;
  font-size: 1.2rem;
  border-radius: 100px;
}
@keyframes example {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  60% {
    transform: translateX(0px);
  }
  100% {
    transfrom: skew(0deg);
  }
}
.textFeildContentRight {
  width: 35%;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  animation-name: rightText;
  animation-duration: 10s;
  background-color: #053c53;
  color: #fff;
  padding: 2rem;
  left: 2%;
  font-size: 1.2rem;
  border-radius: 100px;
}
@keyframes rightText {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  60% {
    transform: translateX(0px);
  }
  100% {
    transfrom: skew(0deg);
  }
}
.textFeildContentTwo {
  width: 35%;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  animation-name: example;
  animation-duration: 10s;
  background-color: #053c53;
  color: #fff;
  padding: 2rem;
  font-size: 1.2rem;
  border-radius: 100px;
}
@keyframes example {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  60% {
    transform: translateX(0px);
  }
  100% {
    transfrom: skew(0deg);
  }
}
.textFeildContentTwoRight {
  width: 35%;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  animation-name: rightText;
  animation-duration: 10s;
  background-color: #ffc107;
  padding: 2rem;
  left: 2%;
  font-size: 1.2rem;
  border-radius: 100px;
}
@keyframes rightText {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  60% {
    transform: translateX(0px);
  }
  100% {
    transfrom: skew(0deg);
  }
}
.aboutUsOurModuleContent {
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.aboutUsOurModuleCart {
  border: none;
  width: 15%;
  padding: 1rem;
  text-align: center;
  background-image: url("../../images/happyCloseModule.jpg");
  background-repeat: no-repeat;
  background-size: 300px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 1.5s;
}
.aboutUsOurModuleCart:hover,
.aboutUsOurModuleCart:focus,
.aboutUsOurModuleCart:active {
  transform: scale(1.2);
}
.aboutUsOurModuleCartText {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  padding-top: 1rem;
}
