.reconcilePagemainContainer{
    background-color: #fefbf3;
    background-image: url("../../images/homePageBanner.png");
    padding: 10rem 0rem;
    display: flex;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.reconcileBannerContent{
    width: 50%;
    padding: 6rem;
}
.reconcileBannerImage{
    width: 50%;
}
.reconcileBannerContentHeading{
    font-size: 5rem;
    font-weight: 500;
    color: #1f0045;
}
.reconcileBannerContentText{
    font-size: 1.7rem;
    color: #1f0045;
    margin: 3rem 0rem;
}
.reconcileBannerContentButton{
    background-color: #ff5300;
    padding: 1.2rem 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    border-radius: 50px;
    border: none;
}
.reconcileBannerContentButton:active,
.reconcileBannerContentButton:focus,
.reconcileBannerContentButton:hover{
    outline: none;
    background-color: #1f0045;
}
.reconcileTieOut{
    background-color: #1f0045;
    padding: 7rem;
}
.reconcileTieOutHeading{
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
}
.reconcileTieOutText{
    font-size: 1.5rem;
    margin: 4rem 0rem;
    color: #c1c1be;
}
.reconcileTieOutCartOne{
    background-color: #875cff;
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    width: 48%;
}
.reconcileTieOutCartOneTextContent{
    width: 50%;
}
.reconcileTieOutCartOneImage{
    width: 50%;
}
.reconcileTieOutCartOneTextContentHeading{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}
.reconcileTieOutCartOneTextContentText{
    font-size: 1.2rem;
    color: #fff;
}
.reconcileTieOutCart{
    display: flex;
    justify-content: space-around;
}
.reconcileTieOutCartTwo{
    background-color: #ff5300;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    width: 48%;
}
.reconcileTieOutCartTwoTextContent{
    width: 50%;
    margin-left: 2rem;
}
.reconcileTieOutCartTwoImage{
    width: 50%;
    height: 45vh;
    border-radius: 25px;
}
.reconcileTieOutCartTwoTextContentHeading{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}
.reconcileTieOutCartTwoTextContentText{
    font-size: 1.2rem;
    color: #fff;
}
.reconcileTieOutCartThree{
    background-color: #fefbf3;
    border-radius: 1.5rem;
    display: flex;
    margin-top: 2rem;
}
.reconcileTieOutCartThreeImage{
    width: 50%;
}
.reconcileTieOutCartThreeContentHeader{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 12rem;
    line-height: 1.2;
    margin-left: 3rem;
}
.reconcileTieOutCartThreeContenttext{
    font-size: 1.3rem;
    margin-left: 3rem;
    color: rgba(31,0,69,.85);
}
.reconcileAccelerate{
    padding: 7rem;
}
.reconcileAccelerateFirstCart{
    background-color: #ff5300;
    border-radius: 2rem;
    width: 30%;
    padding-top:2rem;
    padding-left: 2rem;
}
.reconcileAccelerateFirstCartImage{
    width: 100%;
}
.reconcileAccelerateFirstCartHeading{
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
}
.reconcileAccelerateFirstCartText{
    font-size: 1.2rem;
    color: #fff;
}
.reconcileAccelerateCartContainer{
    display: flex;
    justify-content: space-between;
}
.reconcileAccelerateSecondCart{
    background-color: #fdf8ef;
    border-radius: 2rem;
    width: 68%;
    display: flex;
    align-items: center;
}
.reconcileAccelerateSecondCartHeader{
    font-size: 4rem;
    color: #1f0045;
    font-weight: 500;
    line-height: 1.1;
    margin-left: 3rem;
    margin-top: 3rem;
}
.reconcileAccelerateSecondCartText{
    font-size: 1.3rem;
    padding-left: 3rem;
    margin-top: 2rem;
    color: rgba(31,0,69,.85);
}
.reconcileAccelerateSecondCartContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.reconcileAccelerateSecondCartContent{
    background-color: #875cff;
    width: 49%;
    border-radius: 2rem;
    display: flex;
}
.reconcileAccelerateSecondCartContentImage{
    width: 50%;
}
.reconcileAccelerateSecondCartTextFeild{
    color: #fff;
    margin-left:2rem;
    margin-top: 2rem;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
}
.reconcileAccelerateSecondCartFeild{
    color: #fff;
    margin-left: 2rem;
    font-size: 1.2rem;
}
.reconcileiIternalControls{
    padding: 7rem;
    background-color: #1f0045;
}
.reconcileAccelerateHeading{
    font-size: 4rem;
    font-weight: 500;
    color: #1f0045;
    margin: 3rem 0rem;
}
.reconcileAccelerateText{
    color: rgba(31,0,69,.85);
    font-size: 1.5rem;
    margin: 3rem 0rem;
}
.reconcileiIternalControlsHeading{
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    margin: 3rem 0rem;
}
.reconcileiIternalControlsText{
    color: #fff;
    font-size: 1.5rem;
    margin: 3rem 0rem;
}
.reconcileInternalControlsFirstCartImage{
    width: 350px;
}
.reconcileInternalCantrolsSecondCartContentImage{
    border-radius: 2rem;
    width: 50%;
}
.reConsileTransformYouWork {
    background-color: #1f0045;
    color: #fff;
    padding: 4rem;
    padding-bottom: 12rem;
  }
  .homePageTransformYouWorkFirstCart {
    border-radius: 1.25rem;
    background-color: #eeebe4;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: sticky;
    top: 9rem;
    z-index: 1;
    overflow: hidden;
    min-height: 31rem;
  }
  .homePageTransformYouWorkFirstCartcontent {
    margin: 2rem;
    width: 50%;
  }
  .homePageTransformYouWorkFirstCartcontentHeading {
    color: #ff5300;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .homePageTransformYouWorkFirstCartcontentContent {
    color: #1f0045;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 15rem;
  }
  .homePageTransformYouWorkFirstCartcontentLearnMore {
    color: #1f0045;
    font-weight: 700;
    margin-top: 3rem;
    font-size: 1.2rem;
  }
  .homePageTransformYouWorkFirstCartImage {
    width: 50%;
  }
  .homePageTransformYouWorkcartContainer {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 7rem;
    flex-direction: column;
    justify-content: flex-start;
    grid-row-gap: 1.5rem;
  }
  .homePageTransformYouWorkText {
    font-size: 4rem;
    font-weight: 500;
    margin-top: 6rem;
  }
  .homePageTransformYouWorkContent {
    font-size: 1.4rem;
    margin: 5rem 0rem;
  }
  .homePageReconcilThirdCart {
    border-radius: 1.25rem;
    background-color: #875cff;
    color: #fff;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: sticky;
    overflow: hidden;
    z-index: 3;
    min-height: 31rem;
    margin-top: 7rem;
    margin-bottom: -14rem;
  }