.scheduleDemoMainContainer {
  padding-top: 20%;
  padding-bottom: 3rem;
  top: 20%;
  display: flex;
  justify-content: space-evenly;
}
.scheduleDemoMainContant {
  width: 40%;
  padding: 1.5rem 2rem;
}
.scheduleDemoHeader {
  font-size: 4rem;
  font-weight: 500;
}
.scheduleDemoText {
  font-size: 1.3rem;
  font-family: "Lora";
}
.scheduleDemoContectUs {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}
.scheduleDemoContent {
  width: 40%;
  padding: 2rem;
  text-align: center;
  background-color: #eee;
  border: 3px solid #001a4d;
  border-radius: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scheduleDemoContent:hover,
.scheduleDemoContent:active,
.scheduleDemoContent:focus {
  margin-top: -20px;
  transition: all 0.5s ease;
  box-shadow: 5px 25px 25px 5px rgb(0 0 0 / 15%);
}
.scheduleDemoContentText {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Lora";
}
.scheduleDemoContentTextInput {
  padding: 0.7rem 1rem;
  margin: 0.8rem 0rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgb(196, 194, 194);
}
.scheduleDemoContentTextInput:focus,
.scheduleDemoContentTextInput:hover,
.scheduleDemoContentTextInput:active {
  outline: none;
}
.scheduleDemoContentTextInputLable {
  font-size: 1.1rem;
  margin: 0.5rem 0rem;
}
.scheduleDemoContentTextInputFeild {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.scheduleDemoContentTextInputMessage {
  padding: 0.7rem 1rem;
  margin: 0.8rem 0rem;
  height: 10vh;
  width: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgb(196, 194, 194);
}
.scheduleDemoContentTextInputMessage:focus,
.scheduleDemoContentTextInputMessage:hover,
.scheduleDemoContentTextInputMessage:active {
  outline: none;
}
.scheduleDemoButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #001a4d;
  font-family: "Lora";
  border: none;
  transition: all 0.6s ease-out;
  display: block;
  background: transparent;
}
.scheduleDemoButton:hover,
.scheduleDemoButton:active,
.scheduleDemoButton:focus {
  color: #001a4d;
  text-decoration: none;
  outline: none;
}
.scheduleDemoSubmitButton {
  background: linear-gradient(to right, #f86739 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border-radius: 50px;
}
.scheduleDemoSubmitButton:hover {
  background-position: left bottom;
  text-decoration: none;
}
/* toastify */
.toastify {
  padding: 12px 20px;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  position: fixed;
  top: -150px;
  right: 15px;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
}
.toastify.on {
  opacity: 1;
}
.happycloseFoundersMail {
  color: #0b0bf3;
  text-decoration: underline;
  cursor: pointer;
}
