.scheduleDemoMainContainer {
  padding-top: 20%;
  padding-bottom: 3rem;
  top: 20%;
  display: flex;
  justify-content: space-evenly;
}
.scheduleDemoMainContant {
  width: 40%;
  padding: 1.5rem 2rem;
}
.scheduleDemoHeader {
  font-size: var(--heading);
  font-weight: 500;
  font-family: var(--headerFontFamily);
  font-weight: 700;
}
.scheduleDemoText {
  font-size: var(--content);
  font-family: var(--defaultRegular);
}
.scheduleDemoContectUs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.scheduleDemoContent {
  width: 40%;
  padding: 2rem;
  text-align: center;
  background-color: #eee;
  border: 3px solid var(--defaultColor);
  border-radius: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.scheduleDemoContent:hover,
.scheduleDemoContent:active,
.scheduleDemoContent:focus {
  margin-top: -20px;
  transition: all 0.5s ease;
  box-shadow: 5px 25px 25px 5px rgb(0 0 0 / 15%);
}
.scheduleDemoContentText {
  font-size: var(--content);
  font-weight: 700;
  font-family: var(--headerFontFamily);
}
.scheduleDemoContentTextInput {
  padding: 0.7rem 1rem;
  margin: 0.8rem 0rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgb(196, 194, 194);
}
.scheduleDemoContentTextInput:focus,
.scheduleDemoContentTextInput:hover,
.scheduleDemoContentTextInput:active {
  outline: none;
}
.scheduleDemoContentTextInputLable {
  font-size: var(--content);
  margin: 0.5rem 0rem;
}
.scheduleDemoContentTextInputFeild {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.scheduleDemoContentTextInputMessage {
  padding: 0.7rem 1rem;
  margin: 0.8rem 0rem;
  height: 13vh;
  width: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgb(196, 194, 194);
}
.scheduleDemoContentTextInputMessage:focus,
.scheduleDemoContentTextInputMessage:hover,
.scheduleDemoContentTextInputMessage:active {
  outline: none;
}
.scheduleDemoButton {
  padding: 0.7rem 4rem;
  font-size: var(--content);
  font-weight: 700;
  color: var(--defaultColor);
  font-family: var(--defaultRegular);
  border: none;
  transition: all 0.6s ease-out;
  display: block;
  background: transparent;
}
.scheduleDemoButton:hover,
.scheduleDemoButton:active,
.scheduleDemoButton:focus {
  color: var(--defaultColor);
  text-decoration: none;
  outline: none;
}
.scheduleDemoSubmitButton {
  background: linear-gradient(
    to right,
    var(--primaryColor) 50%,
    var(--whiteColor) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border-radius: 50px;
}
.scheduleDemoSubmitButton:hover {
  background-position: left bottom;
  text-decoration: none;
}

.happycloseFoundersMail {
  color: var(--blueColor);
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 280px) and (max-width: 426px) {
  .scheduleDemoMainContainer {
    padding-top: 50% !important;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
  }
  .scheduleDemoMainContant {
    width: 100%;
    padding: 1rem;
  }
  .scheduleDemoHeader {
    font-size: 2rem;
  }
  .scheduleDemoContent {
    width: 100%;
    padding: 1rem;
  }
  .scheduleDemoContentTextInputFeild {
    width: 90%;
  }
  .scheduleDemoContentTextInputMessage {
    height: 14vh;
  }
  .scheduleDemoButton {
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 427px) and (max-width: 600px) {
  .scheduleDemoMainContainer {
    padding-top: 25% !important;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    align-items: center;
  }
  .scheduleDemoMainContant {
    width: 100%;
    padding: 1rem;
  }
  .scheduleDemoHeader {
    font-size: 2rem;
  }
  .scheduleDemoContent {
    width: 80%;
    padding: 1rem;
  }
  .scheduleDemoContentTextInputFeild {
    width: 90%;
  }
  .scheduleDemoContentTextInputMessage {
    height: 14vh;
  }
  .scheduleDemoButton {
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .scheduleDemoMainContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  .scheduleDemoMainContant {
    width: 100%;
}
.scheduleDemoHeader {
  font-size: 2rem;
}
.scheduleDemoContent {
  width: 70%;
}
.scheduleDemoContentTextInputMessage {
  height: 15vh;
 }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .scheduleDemoContent {
    width: 50%;
    padding: 2rem;
  }
  .scheduleDemoHeader {
    font-size: 2rem;
}
.scheduleDemoContentTextInputFeild {
  width: 80%;
}
.scheduleDemoContentTextInputMessage {
  height: 15vh;
}
}
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .scheduleDemoContent {
    width: 50%;
    padding: 2rem;
}
.scheduleDemoContentTextInputFeild {
  width: 65%;
}
.scheduleDemoContentTextInputMessage {
  height: 15vh;
}
}