.closePageFirstContent {
  background-image: url("../../themes/images/homePageBanner.png");
  padding-top: 25%;
  background-position: 100% 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #fefbf3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closePageFirstContentTextFeild {
  width: 80%;
  text-align: center;
  top: 164%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.closePageFirstContentTextFeildHeader {
  margin-top: 4rem;
  font-size: var(--heading);
  line-height: 1.2;
  font-weight: 500;
  font-family: var(--headerFontFamily) !important;
}
.closePageFirstContentText {
  margin-top: 1.5rem;
  font-size: var(--content);
  line-height: 1.2;
  font-weight: 500;
  font-family: var(--defaultRegular);
}
.homePageTransformYouWork {
  background-color: var(--whiteColor);
  color: var(--defaultColor);
  padding: 4rem;
  padding-bottom: 12rem;
  margin: 2rem 0rem;
}
.homePageTransformYouWork {
  background-color: var(--whiteColor);
  color: var(--defaultColor);
  padding: 4rem;
  padding-bottom: 12rem;
  margin: 2rem 0rem;
}
.homePageTransformYouWorkFirstCart {
  border-radius: 1.25rem;
  background-color: var(--lightGreyColor);
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: sticky;
  top: 9rem;
  z-index: 1;
  overflow: hidden;
  min-height: 31rem;
}
.homePageTransformYouWorkFirstCartcontent {
  margin: 2rem;
  width: 50%;
  font-family: var(--defaultRegular);
}
.homePageTransformYouWorkFirstCartcontentHeading {
  color: var(--primaryColor);
  font-size: var(--content);
  font-weight: 700;
}
.homePageTransformYouWorkFirstCartcontentContent {
  color: var(--defaultColor);
  font-size: var(--content);
  font-weight: 700;
  margin-top: 13rem;
}

.homePageTransformYouWorkFirstCartImage {
  width: 50%;
}
.homePageTransformYouWorkSecondCart {
  border-radius: 1.25rem;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: sticky;
  top: 16rem;
  z-index: 20;
  min-height: 31rem;
  margin-bottom: -14rem;
}
.homePageTransformYouWorkSecondCartcontent {
  margin: 2rem;
  width: 50%;
  font-family:var(--defaultRegular);
}
.homePageTransformYouWorkSecondCartcontentHeading {
  font-size: var(--content);
  font-weight: 700;
}
.homePageTransformYouWorkSecondCartcontentContent {
  font-size: var(--content);
  font-weight: 700;
  margin-top: 9rem;
}
.homePageTransformYouWorkFoutCartcontentContent {
  font-size: var(--content);
  font-weight: 700;
  margin-top: 13rem;
}
.homePageTransformYouWorkSecondCartcontentLearnMore {
  font-weight: 700;
  margin-top: 2rem;
  font-size: 1.2rem;
}
.homePageTransformYouWorkThirdCart {
  border-radius: 1.25rem;
  background-color: var(--defaultColor);
  color: var(--whiteColor);
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: sticky;
  overflow: hidden;
  z-index: 30;
  top: 25rem;
  min-height: 31rem;
  margin-top: 7rem;
  margin-bottom: -13rem;
}
.homePageTransformYouWorkFourCart {
  border-radius: 1.25rem;
  background-color: var(--lightYellowColor);
  color: var(--whiteColor);
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: sticky;
  overflow: hidden;
  z-index: 40;
  min-height: 31rem;
  margin-top: 30rem;
  margin-bottom: -18rem;
}
.homePageTransformYouWorkcartContainer {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 7rem;
  flex-direction: column;
  justify-content: flex-start;
  grid-row-gap: 1.5rem;
}
.homePageTransformYouWorkText {
  font-size: var(--heading);
  font-weight: 500;
  margin-top: 0rem;
  margin-bottom: 3rem;
  font-family:var(--headerFontFamily);
}
i.bi.bi-check2-circle {
  color: var(--greenColor);
  font-size: 1.8rem;
  padding-left: 0.5rem;
  margin-right: 0rem !important;
}
i.bi.bi {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.bookcloseTextOne {
  position: absolute;
  top: 30%;
  border-radius: 10px;
  left: 36%;
  z-index: 11;
  background-color: var(--whiteColor);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.bookcloseTextTwo {
  position: absolute;
  top: 36%;
  right: 1rem;
  background-color: var(--whiteColor);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 11;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.bookcloseTextThree {
  position: absolute;
  top: 52%;
  left: 48%;
  background-color: var(--whiteColor);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 11;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.bookcloseTextFour {
  position: absolute;
  top: 55%;
  right: 4rem;
  background-color: var(--whiteColor);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 11;
  display: flex;
  align-items: center;
  font-family:var(--defaultRegular);
}
.bookcloseTextFive {
  position: absolute;
  top: 71%;
  right: 12rem;
  background-color: var(--whiteColor);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 11;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.reportingTextOne {
  position: absolute;
  top: 31%;
  border-radius: 10px;
  left: 51%;
  z-index: 21;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.reportingTextTwo {
  position: absolute;
  top: 14%;
  right: 1rem;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 21;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.reportingTextThree {
  position: absolute;
  top: 53%;
  right: 2rem;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 21;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.reportingTextFour {
  position: absolute;
  top: 68%;
  right: 27rem;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 21;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.reportingTextFive {
  position: absolute;
  top: 71%;
  right: 1rem;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 21;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.consolidateTextOne {
  position: absolute;
  top: 9%;
  border-radius: 10px;
  left: 54%;
  z-index: 31;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.consolidateTextTwo {
  position: absolute;
  top: 59%;
  right: 3rem;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 31;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.consolidateTextThree {
  position: absolute;
  top: 37%;
  left: 48%;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 31;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.consolidateTextFour {
  position: absolute;
  top: 37%;
  right: 1rem;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 31;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.consolidateTextFive {
  position: absolute;
  top: 59%;
  right: 25rem;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 31;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.riskManagementTextOne {
  position: absolute;
  top: 19%;
  border-radius: 10px;
  left: 50%;
  z-index: 41;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}

.riskManagementTextTwo {
  position: absolute;
  top: 30%;
  right: 1rem;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 41;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.riskManagementTextThree {
  position: absolute;
  top: 45%;
  border-radius: 10px;
  left: 50%;
  z-index: 41;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.riskManagementTextFour {
  position: absolute;
  top: 56%; 
  border-radius: 10px;
  right: 1rem;
  z-index: 41;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.riskManagementTextFive {
  position: absolute;
  top: 70%;
  border-radius: 10px;
  left: 50%;
  z-index: 41;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
.riskManagementTextSix {
  position: absolute;
  top: 82%;
  border-radius: 10px;
  right: 1rem;
  z-index: 41;
  background-color: var(--whiteColor);
  color: #000;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-family: var(--defaultRegular);
}
