.headerMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.headerMainContainerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--defaultColor);
  width: 100%;
}

.headerLinkItems {
  color: var(--whiteColor);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--defaultRegular);
}
.headerLogoImage {
  width: 15%;
}
.headerLinkItems:active,
.headerLinkItems:focus,
.headerLinkItems:hover {
  color: var(--whiteColor);
  text-decoration: none;
}
.headerTextContainer {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-right: 1rem;
}
.headerTexContainertagsContnents {
  font-size: var(--content);
  font-weight: 700;
  padding-top: 0.2rem;
  color: var(--whiteColor);
}
.headerTexContainertagsContnents:hover {
  color: var(--primaryColor);
}
.headerTreadingHeadilines {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--whiteColor);
  color: var(--defaultColor);
  width: 100%;
  font-size: var(--content);
  font-weight: 700;
  font-family: var(--defaultRegular);
}
.HeaderLogo {
  width: 7%;
}
@media only screen and (min-width: 280px) and (max-width: 426px) {
  .headerTreadingHeadilines {
    font-size: var(--content);
  }
  .headerTextContainer {
    width: 75% !important;
    margin-right: 0rem !important;
  }
  .HeaderLogo {
    width: 25% !important;
  }
  .headerMainContainerContent {
    padding: 0.5rem 1.5rem !important;
  }
  .headerTexContainertagsContnents {
    font-size: var(--content) !important;
  }
}
@media only screen and (min-width: 427px) and (max-width: 1000px) {
  .headerTreadingHeadilines {
    font-size:var(--content);
  }
  .headerTextContainer {
    width: 65% !important;
    margin-right: 0rem !important;
  }
  .HeaderLogo {
    width: 10% !important;
  }
  .headerMainContainerContent {
    padding: 0.5rem 1.5rem !important;
  }
  .headerTexContainertagsContnents {
    font-size:var(--content)!important;
  }
  .homePageFirstContentButton {
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
  }
}
