.headerMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.headerMainContainerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #001a4d;
  width: 100%;
}
.headerLinkItems {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.headerLogoImage {
  width: 15%;
}
.headerLinkItems:active,
.headerLinkItems:focus,
.headerLinkItems:hover {
  color: #fff;
  text-decoration: none;
}
.headerTextContainer {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.headerTexContainertagsContnents {
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 0.2rem;
  color: #fff;
}
.headerTexContainertagsContnents:hover {
  color: #f86739;
}
.headerTreadingHeadilines {
  padding: 0.5rem;
  text-align: center;
  background-color: #fff;
  color: #001a4d;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}
.HeaderLogo {
  width: 7%;
}