.headerMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.headerMainContainerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--defaultColor);
  width: 100%;
  box-shadow: 0px 1px 1px 0px var(--lightAshColor);
}

.headerLinkItems {
  color: var(--whiteColor);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--defaultRegular);
}
.headerLogoImage {
  width: 15%;
}
.headerLinkItems:active,
.headerLinkItems:focus,
.headerLinkItems:hover {
  color: var(--whiteColor);
  text-decoration: none;
}
.headerTextContainer {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-right: 1rem;
}
.headerTexContainertagsContnents {
  font-size: var(--content);
  font-weight: 700;
  padding-top: 0.2rem;
  color: var(--whiteColor);
}
.headerTexContainertagsContnents:hover {
  color: var(--primaryColor);
}
.headerMainContainerContentHeaderText {
  color: var(--whiteColor);
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  font-family: var(--headerFontFamily);
  border-top: 2px solid var(--whiteColor);
  border-bottom: 2px solid var(--primaryColor);
  border-left: 2px solid var(--whiteColor);
  border-right: 2px solid var(--primaryColor);
}
.headerMainContainerContentHeaderTextHappy {
  color: var(--primaryColor);
}
/* .headerTreadingHeadilines {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--whiteColor);
  color: var(--defaultColor);
  width: 100%;
  font-size: var(--content);
  font-weight: 700;
  font-family: var(--defaultRegular);
} */

@media only screen and (min-width: 280px) and (max-width: 426px) {
  /* .headerTreadingHeadilines {
    font-size: 1rem;
  } */
  .headerTextContainer {
    width: 65% !important;
    margin-right: 0rem !important;
    margin-top: 0rem !important;
  }
  .headerMainContainerContentHeaderText {
    font-size: 1rem !important;
    padding: 0.5rem !important;
  }
  .headerMainContainerContent {
    padding: 0.5rem !important;
  }
  .headerTexContainertagsContnents {
    font-size: 1rem !important;
  }
}
@media only screen and (min-width: 427px) and (max-width: 1000px) {
  /* .headerTreadingHeadilines {
    font-size:var(--content);
  } */
  .headerTextContainer {
    width: 45% !important;
    margin-right: 0rem !important;
  }
  .headerMainContainerContentHeaderText {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .headerMainContainerContent {
    padding: 0.5rem 1.5rem !important;
  }
  .headerTexContainertagsContnents {
    font-size: var(--content) !important;
  }
  .homePageFirstContentButton {
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
  }
}
