:root {
        /*Colors  */
          --primaryColor: #ff6b00;
          --defaultColor: #001a4d;
          --whiteColor: #fff;
          --blueColor: #0b0bf3;
          --lightGreyColor: #eeebe4;
          --lightYellowColor: #e5c981;
          --overlayColor: rgba(55, 55, 55, 0.8);
          --overlayHoverColor: rgba(55, 55, 55, 0);
          --greenColor: rgb(10, 62, 10);
          --darkColor: #000000;


        /* Font-Family */
          --defaultRegular: "Lato-Regular";
        /* Font-Size */
          --content: 1.3rem;
          --heading: 4rem;
          --title: 2rem;

}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor);
}
/* toastify */
.toastify {
  padding: 12px 20px;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  position: fixed;
  top: -150px;
  right: 15px;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
}
.toastify.on {
  opacity: 1;
}
